
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  padding-bottom: 50px;
    padding-top: 44px;
}
.search{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.box span{
    padding: 50px;
    background-color: #0bb20c;
}

.activityList{
    display: flex;
}


